/*** uncss> filename: http://harpsha.github.io/footer/public/css/compiled32bb.css?72 ***/

html,
body,
div,
h2,
h4,
h5,
p,
a,
img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  text-decoration: none;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

h2,
h4,
h5 {
  font-weight: normal;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:hover {
  opacity: 1;
}

html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  width: 100%;
  clear: both;
}

.group {
  zoom: 1;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min--moz-device-pixel-ratio: 2),only screen and (-o-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio: 2) {
  footer a.social {
    background-image: url('http://sidigital.co/public/img/backgrounds/footer_social@2x.png') !important;
  }
}

:-moz-placeholder {
  font-size: 1.4em !important;
  font-family: "proxima_nova_semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

:-ms-input-placeholder {
  color: #bbb !important;
}

.take_control .text::-moz-placeholder {
  font-family: "proxima_nova_regular", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

.take_control .text:-ms-input-placeholder {
  font-family: "proxima_nova_regular", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

.teabot_mobile input.mobile_code:-moz-placeholder {
  line-height: 42px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1.625em;
  letter-spacing: 0.02em;
  margin-top: 30px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-shadow: 0 1px 0px #fff;
  font-size: 1.1em;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  font-size: 100%;
  font-family: "proxima_nova_regular", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #626262;
  overflow-x: hidden;
  padding-bottom: 453px;
}

@media only screen and (max-width: 978px) {
  body {
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 740px) {
  body {
    font-size: 90%;
    padding-bottom: 0px;
  }
}

.background {
  width: 100%;
  height: 100%;
  padding-top: 89px;
  background: #fcfcfc url('http://sidigital.co/public/img/backgrounds/noise.png') 0 0;
  position: relative;
  min-height: 755px;
  z-index: 1;
}

@media only screen and (max-width: 740px) {
  .background {
    padding-top: 0px;
  }
}

.wave {
  background: url('http://sidigital.co/public/img/backgrounds/footer_wave.png') 0 0;
  height: 25px;
  width: 100%;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 740px) {
  .wave {
    height: 16px;
    background: url('http://sidigital.co/public/img/backgrounds/footer_wave_mobile.png') 0 0;
    background-size: 42px 16px;
  }
}

.center {
  width: 100%;
  margin: 0 auto;
  max-width: 990px;
}

article {
  padding-top: 55px;
  position: relative;
  display: block;
}

@media only screen and (max-width: 978px) {
  article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 15px !important;
    padding-right: 15px !important;
    text-align: center;
  }
}

@media only screen and (max-width: 740px) {
  article {
    padding-top: 35px;
  }
}

article p {
  text-align: left;
}

@media only screen and (max-width: 740px) {
  article.blog img:not(.blog_header):not(.blog_icon):note(.signup_mail) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px !important;
    margin-top: 20px !important;
  }
}

footer {
  height: 475px;
  color: #fff;
  position: relative;
  display: block;
  background: #ed1165;
  position: fixed;
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 0;
}

@media only screen and (max-width: 978px) {
  footer {
    position: relative;
    margin-top: -23px;
    padding: 0 10px 10px;
    height: auto;
    background: #ed1165;
  }
}

footer h4 {
  color: #fff;
  font-size: 2.75em;
  margin-top: 47px;
  width: 100%;
}

footer p {
  font-size: 1.25em;
  width: 100%;
  max-width: 680px;
  margin: 15px auto 0 auto;
  text-shadow: none;
}

footer p.legal {
  font-size: 14px;
  margin-top: 20px;
  max-width: none;
}

footer p.legal a {
  font-size: 14px;
  float: none;
  display: inline;
  color: #fff;
}

footer p.legal a:hover {
  opacity: 0.8;
}

footer div.social_contain {
  width: 254px;
  padding-top: 50px;
  height: 41px;
  margin: 0 auto;
  clear: both;
}

footer a {
  display: block;
  font-size: 30px;
  font-family: "proxima_nova_bold", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #fff;
  float: left;
}

footer a.social {
  width: 41px;
  height: 41px;
  background: url('http://sidigital.co/public/img/backgrounds/footer_social.png') no-repeat 0 -41px;
  background-size: 164px 82px;
  margin: 0 30px 0 0;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=("0.8" * 100));
  filter: alpha(opacity = ("0.8" * 100));
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

footer a.social:hover {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=("1" * 100));
  filter: alpha(opacity = ("1" * 100));
}

footer a.social.last {
  margin-right: 0px;
}

footer a.social.facebook {
  background-position: -41px -41px;
}

footer a.social.instagram {
  background-position: -82px -41px;
}

footer a.social.dribbble {
  background-position: -123px -41px;
}

.button {
  display: table;
  margin: 40px auto 0 auto;
  font-size: 16px;
  font-family: "proxima_nova_semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  height: 60px;
  line-height: 63px;
  padding: 0 30px;
  position: relative;
  text-align: center;
  background: #ed1165;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-font-smoothing: auto;
  letter-spacing: 0.08em;
  min-width: 206px;
  text-shadow: none;
  letter-spacing: 0.08em;
}

.button:hover {
  background: #ff2377;
  cursor: pointer;
}

.button:active {
  background: #ff2377;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  -ms-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}

::selection {
  background: #ef4988;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #ef4988;
  color: #fff;
  text-shadow: none;
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 997;
  background: rgba(0,0,0,0.5);
  visibility: hidden;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=("0" * 100));
  filter: alpha(opacity = ("0" * 100));
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal .mask {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #000;
  opacity: .9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(".9" * 100));
  filter: alpha(opacity = (".9" * 100));
  z-index: 998;
}

.modal .modal_content {
  width: 540px;
  height: 420px;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  background: linear-gradient(bottom,#fff 0%,#fff 50%,#a7db67 50%,#a7db67 100%) repeat 0 0;
  background: -o-linear-gradient(bottom,#fff 0%,#fff 50%,#a7db67 50%,#a7db67 100%) repeat 0 0;
  background: -moz-linear-gradient(bottom,#fff 0%,#fff 50%,#a7db67 50%,#a7db67 100%) repeat 0 0;
  background: -webkit-linear-gradient(bottom,#fff 0%,#fff 50%,#a7db67 50%,#a7db67 100%) repeat 0 0;
  background: -ms-linear-gradient(bottom,#fff 0%,#fff 50%,#a7db67 50%,#a7db67 100%) repeat 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=("1" * 100));
  filter: alpha(opacity = ("1" * 100));
  z-index: 999;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=("0" * 100));
  filter: alpha(opacity = ("0" * 100));
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
}

.modal.registered_address .modal_content {
  background: #fff;
  max-height: 380px;
  height: 100%;
  max-width: 540px;
  width: 94%;
}

.modal.registered_address .modal_content h5 {
  text-align: center;
  padding-top: 20px;
}

.modal.registered_address .modal_content p {
  text-align: center;
  padding: 0 20px;
}

@media only screen and (max-width: 360px) {
  .modal.registered_address .modal_content p {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 505px) {
  .modal.registered_address .modal_content {
    max-height: 420px;
  }
}

@media only screen and (max-width: 487px) {
  .modal.registered_address .modal_content {
    max-height: 420px;
  }
}

@media only screen and (max-width: 401px) {
  .modal.registered_address .modal_content {
    max-height: 460px;
  }
}

@media only screen and (max-width: 357px) {
  .modal.registered_address .modal_content {
    max-height: 460px;
  }
}

.modal.registered_address .mask {
  background-color: #ef3f7f;
  opacity: 0.5;
}

